.ColorCard {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px var(--shadow-color);
}

.ColorCard .ColorBlock {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    flex: 999;
}

.ColorCard .ColorLabel {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0px 0px 0px 20px ;
    padding: 0;
    flex-basis: 2rem;
    font-size: 14pt;
    color: var(--text-color-primary);
}